/* Ensure the root element takes full screen height */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Flex item to push footer to the bottom */
.main-content {
  flex: 1;
}

/* Updated Footer styling */
.footer {
  height: 50px;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}